/* Contenedor principal */
.formulario-seleccion-container {
    background: linear-gradient(to right, #1c2833, #34495e);
    color: #f8f9fa;
    min-height: 100vh;
    padding: 40px 20px;
    position: relative;
}

/* Contenedor de bienvenida */
.formulario-bienvenida {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.formulario-bienvenida-titulo {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.formulario-bienvenida-subtitulo {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* Logo alineado a la derecha con dropdown */
.formulario-logo {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

/* Dropdown */
.dropdown-menu {
    position: absolute;
    right: 20px;
    top: calc(50% + 50px);
    background: #2c3e50;
    border: 1px solid #34495e;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: block;
    opacity: 1;
    animation: fadeIn 0.3s ease-in-out;
}

.dropdown-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: #f8f9fa;
    font-size: 20px;
}

.dropdown-item {
    padding: 10px;
    background: #34495e;
    border-radius: 5px;
    text-align: center;
    color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background: #1c2833;
}

/* Animación del dropdown */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Grid de tarjetas */
.formulario-seleccion-grid {
    padding-top: 105px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Tarjetas */
.formulario-seleccion-card {
    background: #2c3e50;
    border: 1px solid #34495e;
    border-radius: 8px;
    color: #f8f9fa;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.formulario-seleccion-card:hover {
    background: #34495e;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.formulario-seleccion-card-titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.formulario-seleccion-card-descripcion {
    font-size: 1rem;
    opacity: 0.8;
}


.dropdown-header svg {
    margin-left: -12px; /* Mueve el ícono más a la izquierda */
    margin-right: 10px; /* Mantén el espacio entre el ícono y el texto */
}

